.gradient-custom {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(linear, left top, right top, from(#3a9cb4), color-stop(50%, #fd1d42), to(#f9fc45));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(70deg, #1dbcec 0%, #1d3ffd 50%, #8545fc 100%);
}

.nav-link{
    color: #fff;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-link:hover{
    color: black;
    background-color: whitesmoke;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.nav-link.active{
    color: black;
    background-color: whitesmoke;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}