.gradient-custom {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(linear, left top, right top, from(#3a9cb4), color-stop(50%, #fd1d42), to(#f9fc45));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(33deg, #d7ec1d 0%, #fd1d55 50%, #45fca7 100%);
}
body{
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(linear, left top, right top, from(#3a9cb4), color-stop(50%, #fd1d42), to(#f9fc45));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(33deg, #d7ec1d 0%, #fd1d55 50%, #45fca7 100%);
        /* background fits to the screen */
        background-size: cover;
        /* background is fixed */
        background-attachment: fixed;
        /* background is centered */
        background-position: center;
        /* background is repeated */
        background-repeat: no-repeat;
}