<div class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="card bg-black text-white" style="border-radius: 1rem;">
                    <!--Header-->
                    <div class="card-header text-center">
                        <h1 class="mb-1">Dashbord</h1>
                    </div>
                    <!--Body-->
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <!--Themes-->
                        <div class="col">
                            <div class="card text-bg-light mb-3 h-100">
                                <img src="assets/Images/My project-1 (4)D.jpg" class="card-img-top object-fit-cover border rounded" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Themes</h5>
                                    <p class="card-text">
                                        Control the the themes of quizzes, add a new theme,modify a theme or delete it.
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a class="btn btn-success" routerLink="/themes" role="button">Themes</a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                        <!--Quizses-->
                        <div class="col">
                            <div class="card text-bg-light mb-3 h-100">
                                <img src="assets/Images/SSS.jpg" class="card-img-top object-fit-cover border rounded" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Quizzes</h5>
                                    <p class="card-text">
                                        Control the the quizzes, add a new quiz,modify a quiz or delete it.
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <a class="btn btn-success" routerLink="/quiz" role="button">Quizzes</a>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                        <!--Users-->
                        <div class="col">
                            <div class="card text-bg-light mb-3 h-100">
                                <img src="assets/Images/TT.jpg" class="card-img-top object-fit-cover border rounded" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Users</h5>
                                    <p class="card-text">
                                        Control the the users, add a new user,modify a user or delete it.
                                    </p>
                                <div class="d-flex justify-content-center align-items-center">
                                    <a class="btn btn-success" routerLink="/users" role="button">Users</a>
                                </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>